apiVersion: apps/v1
kind: Deployment
metadata:
  name: ride-management
  namespace: uber
  labels:
    app: ride-app
    env: dev
    tier: backend

spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels:
      app: ride-app
      env: dev
      tier: backend

  template:
    metadata:
      labels:
        app: ride-app
        env: dev
        tier: backend

    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000

      tolerations:
        - key: "uberonly"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: disktype
                    operator: In
                    values:
                      - ssd

      containers:
        - name: ride-app-container
          image: docdon0007/ride:01

          securityContext:
            allowPrivilegeEscalation: false

          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: ride-config
            - secretRef:
                name: ride-secret

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

          startupProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 10

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
           
