apiVersion:  autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ride-app-auto-scaller

spec:
  scaleTargetRef:
     apiVersion: apps/v1 
     kind: Deployment
     name: ride-management
    
  minReplicas: 1
  maxReplicas: 4
  metrics:
   - type: Resource 
     resource:
       name: cpu 
       target: 
         type: Utilization
         averageUtilization: 50